<!--<h1>{{title }}</h1>-->
<!--<h3>-->
<!--  {{unContact.name}}-->
<!--  <small>{{unContact.email}}</small>-->
<!--</h3>-->

<!--<ul>-->
<!--  <li *ngFor="let contact of mesContacts">-->
<!--     {{contact.name}}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{contact.email}}-->
<!--     &lt;!&ndash;{{contact.name + " " + contact.email}}&ndash;&gt;-->
<!--  </li>-->
<!--</ul>-->

<div class="container">
  <header class="mb-4">
    <nav class="navbar navbar-dark bg-dark">
      <div class="navbar-hearder">
        <a href="/" class="navbar-brand"><!-- href="/" pour le chemin d'accueil-->
          {{title}}
        </a>
      </div>
    </nav>
  </header>
  <div class="row">
    <!--Liste des contacts -->
    <div class="col-sm-4">
      <div class="list-group">
        <a href="#"
           *ngFor="let contact of mesContacts"
           (click)="displayContact(contact)"
           [class.active]="contact === contactProfil"
           class="list-group-item list-group-item-action">
          {{contact.name}}
        </a>
        {{mesContacts |json}}
      </div>
    </div>  <!--./col-sm-4 -->
    <!-- Profil du contact -->
    <div class="col-sm-8">
      <div class="jumbotron" *ngIf="contactProfil">
        <h1 class="display-4">{{ contactProfil.name }}</h1>
        <p class="lead">{{ contactProfil.email }}</p>
        <p class="lead">{{ contactProfil.tel }}</p>
        <hr class="my-4">
        <!-- Exemple du Two Way Data Binding
         ou Banana in the box.
         Le Model impacte la vue
         La Vue impacte le model-->
        <input type="text"
               [(ngModel)]="contactProfil.name"
               class="form-control">

      </div>
      <div class="jumbotron" *ngIf="!contactProfil">
        <h1 class="display-4">Mes contacts</h1>
        <p class="lead">Choisir un Contact via click</p>
        <hr class="my-4">
      </div>
    </div>  <!--./col-sm-8-->

  </div> <!-- /.row-->

</div> <!--/. container-->
